

.first {
  display: flex;
  justify-content: space-around;
}

.first_two {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.first_three {
  margin-top: 50px;
  margin-left: 50px;
}

.first_name {
  margin-top: 100px;
  margin-left: 50px;
}

.second {
  display: flex;
  justify-content: space-around;
}

.second_two {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.second_three {
  margin-top: 50px;
  margin-left: 50px;
}

.second_name {
  margin-top: 100px;
  margin-left: 50px;
}

.third {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.third_name {
  margin-top: 100px;
  margin-left: 50px;
}

.individual {
  flex-direction: column;
}

.profile_name {
  font-size: 20px;
  color: black;
}

a {
  color:black;
  text-decoration: none;
}

.profile {
  display: flex;
  justify-content: center;
}

.member_name {
  flex-direction: column;
  color: black;
}

.group_all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:rgba(0,255,255,0.05);
}

.member_all {
  background-color:rgba(0,255,255,0.05);
}

.member_detail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:rgba(0,255,255,0.05);
}

.group_main {
  display: flex;
  justify-content: space-between;
}

.group_left {
  width: 1120px;
}

.group_right {
  width: calc(100vw - 1120px);
  height: 1250px;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  overflow: scroll;
}

.group_image {
  height: 700px;
  background: url(https://cdn.hinatazaka46.com/files/14/090A2533_syugo_gosei_3_compressed3.jpg) center top/cover no-repeat;
}

.group_history {
  background-color:rgba(0,255,255,0.05);
  width: 100vw;
  height: 550px;
}

.history_title {
  margin-top: 0px;
  padding-top: 20px;
}

.history_detail {
  overflow: scroll;
  height: 450px;
}