
.member_image {
  margin-top: 80px;
  margin-right: 60px;
  padding-right: 30px;
}


.member_name {
  margin-top: 80px;
  margin-left: 60px;
  font-size: 20px;
  padding: 20px;
}

.kanji {
  margin-bottom: 20px;
}

.hiragana {
  margin-bottom: 20px;
}

.generation {
  margin-bottom: 20px;
}

.age {
  margin-bottom: 20px;
}

.birthday {
  margin-bottom: 20px;
}