
.header_main {
  display: flex;
  justify-content: space-around;
  border-top: solid 6px deepskyblue;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  width: 100%;

  background-color : rgba(0,255,255,0.4);
  background-image :
      repeating-linear-gradient(45deg,
                                rgba(153, 204, 255, 0.50),
                                rgba(153, 204, 255, 0.50) 39px,
                                rgba(0, 0, 0, 0) 0,
                                rgba(0, 0, 0, 0) 78px),
      repeating-linear-gradient(315deg,
                                rgba(77, 166, 255, 0.50),
                                rgba(77, 166, 255, 0.50) 39px,
                                rgba(0, 0, 0, 0) 0,
                                rgba(0, 0, 0, 0) 78px);
}

.search {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.other {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;

  text-shadow    : 
  2px  2px 1px #ffffff,
 -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
 -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
 -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;  
}

.other_content {
  margin-right: 20px;
  margin-left: 30px;
}

.search_box {
  width: 230px;
  height: 25px;
}

body{
	margin: 0;
}

.main_title {
  font-family: 'Helvetica Neue';
  text-shadow    : 
  2px  2px 1px #ffffff,
 -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
 -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
 -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;
}