
.header_main {
  display: flex;
  justify-content: space-around;
  background: rgba(0,255,255,0.4);
  border-top: solid 6px deepskyblue;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  width: 100%;
}

.search {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.other {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.other_content {
  margin-right: 20px;
  margin-left: 30px;
}

.search_box {
  width: 230px;
  height: 25px;
}

body{
	margin: 0;
}