<div class ="group_all">
  <%= render "shared/header" %>
  <div class ="group_main">
    <div class ="group_left">
      <div class ="group_image">
        <div class ="group_title">
          Welcome to HINATAZAKA46 Appearance Infomation
        </div>
      </div>
      <div class ="group_history">
        <div class ="history_title">
          <h1 >HINATAZAKA46 HISTORY</h1>
        </div>
        <div class ="history_detail">
          <p class ="">
            2015年11月　欅坂46に新メンバー長濱ねるが加入。けやき坂46新設に伴い追加メンバー募集。
          </p>
          <p class ="">
            2016年05月　1期生11人がけやき坂46に加入。
          </p>
          <p class ="">
            2016年06月　長濱ねるの欅坂46との兼任を発表。
          </p>
          <p class ="">
            2016年08月　欅坂46 2ndシングルのカップリングとして初楽曲収録。
          </p>
          <p class ="">
            2016年10月　初の単独イベント「ひらがなおもてなし会」開催。
          </p>
          <p class ="">
            2016年12月　欅坂46ワンマンライブに参加。
          </p>
          <p class ="">
            2017年03月　初のワンマンライブ開催。
          </p>
          <p class ="">
            2017年04月　欅坂461st アニバーサリーライブにてメンバーの追加募集を発表。
          </p>
          <p class ="">
            2017年06年　2期生メンバーオーディション開催。
          </p>
          <p class ="">
            2017年08月　けやき坂46・2期生9名が加入。
          </p>
          <p class ="">
            2017年09月　長濱ねる欅坂46の専任が発表。
          </p>
          <p class ="">
            2017年10月　Re:mind放送開始。
          </p>
          <p class ="">
            2017年12月　「ひらがな全国ツアーFINAL」で2期生を迎えて初のパフォーマンス。
          </p>
          <p class ="">
            2018年01月　欅坂46に変わり急遽けやき坂46単独で日本武道館3Days公演。
          </p>
          <p class ="">
            2018年02月　公演最終日に単独アルバムの発売がサプライズ発表。
          </p>
          <p class ="">
            2018年02月　2期生9人による「ひらがなおもてなし会」開催。
          </p>
          <p class ="">
            2018年04月　「ひらがな推し」放送開始。
          </p>
          <p class ="">
            2018年04月　舞台「あゆみ」出演。
          </p>
          <p class ="">
            2018年06月　影山優佳が学業の為一時活動休止を発表。
          </p>
          <p class ="">
            2018年06月　佐々木久美がキャプテンに任命。
          </p>
          <p class ="">
            2018年06月　「走り出す瞬間」ツアー2018がスタート。
          </p>
          <p class ="">
            2018年06月　デビューアルバム「走り出す瞬間」発売。
          </p>
          <p class ="">
            2018年08月　舞台「マギアレコード魔法少女まどか☆マギカ外伝」に出演。
          </p>
          <p class ="">
            2018年12月　上村ひなのが3期生として配属決定。
          </p>
          <p class ="">
            2018年12月　「Best New Asian Artist Japan」を受賞。
          </p>
          <p class ="">
            2018年12月　日本武道館にて「ひらがなくりすます2018」3Days開催。
          </p>
          <p class ="">
            2019年01月　渡邉美穂1st写真集「陽だまり」が発売。
          </p>
          <p class ="">
            2019年02月　単独シングルデビューを発表。
          </p>
          <p class ="">
            2019年02月　グループ名を「日向坂46」に改名。
          </p>
          <p class ="">
            2019年03月　横浜アリーナでデビューカウントダウンライブか2Days開催。
          </p>
          <p class ="">
            2019年03月　デビューシングル「キュン」発売。
          </p>
          <p class ="">
            2019年04月　「ひらがな推し」が「日向坂で会いましょう」にリニューアル。
          </p>
          <p class ="">
            2019年06月　柿崎芽実が卒業。
          </p>
          <p class ="">
            2019年07月　2ndシングル「ドレミソラシド」発売
          </p>
          <p class ="">
            2019年07月　濱岸ひよりの一時休養を発表。
          </p>
          <p class ="">
            2019年09月　さいたまスーパーアリーナで「日向坂463rdシングル発売記念ワンマンライブ」を開催。
          </p>
          <p class ="">
            2019年10月　3rdシングル「こんなに好きになっちゃっていいの？」を発売。
          </p>
          <p class ="">
            2019年11月　「第61回日本レコード大賞」にて「ドレミソラシド」が優秀作品賞を受賞。
          </p>
          <p class ="">
            2019年12月　「ひなくり2019〜17人のサンタクロースと空のクリスマス〜」を開催。
          </p>
          <p class ="">
            2019年12月　「第70回紅白歌合戦」に初出場。
          </p>
          <p class ="">
            2020年01月　主演ドラマ「DASADA」放送開始。
          </p>
          <p class ="">
            2020年02月　横浜アリーナにて「日向坂46×DASADA LIVE & FASHION SHOW」を開催。
          </p>
          <p class ="">
            2020年02月　濱岸ひよりが休業より復帰。
          </p>
          <p class ="">
            2020年02月　井口眞緒が卒業。
          </p>
          <p class ="">
            2020年02月　新3期生の高橋未来虹、森本茉莉、山口陽世の加入が決定。
          </p>
          <p class ="">
            2020年02月　4thシングル「ソンナコトナイヨ」が発売。
          </p>
          <p class ="">
            2020年03月　「日向坂46ストーリー」の発売。
          </p>
          <p class ="">
            2020年03月　「日向坂46デビュー1周年記念　スペシャルトーク&ライブ」を開催。
          </p>
          <p class ="">
            2020年06月　影山優佳が休業より復帰。
          </p>
          <p class ="">
            2020年07月　「HINATAZAKA46 Live Online, Yes! with YOU!〜22人の音楽隊と風変わりな仲間たち〜」を開催。
          </p>
          <p class ="">
            2020年08月　ドキュメンタリー映画「3年目のデビュー」公開。
          </p>
          <p class ="">
            2020年09月　1stアルバム「日向坂」を発売。
          </p>
          <p class ="">
            2020年10月　松田好花の一時休業を発表。
          </p>
          <p class ="">
            2020年11月　宮田愛萌の一時休業を発表。
          </p>
          <p class ="">
            2020年12月　「ひなくり2020〜おばけホテルと22人のサンタクロース〜」を開催。
          </p>
          <p class ="">
            2020年12月　松田好花が休業より復帰。
          </p>
          <p class ="">
            2020年12月　「第71回紅白歌合戦」に2年連続で出場。
          </p>
          <p class ="">
            2021年03月　「日向坂46デビュー2周年キャンペーン　Special 2Days」を開催
          </p>
          <p class ="">
            2021年03月　宮田愛萌が休業より復帰。
          </p>
          <p class ="">
            2021年04月　主演ドラマ「声春！」の放送開始。
          </p>
          <p class ="">
            2021年05月　5thシングル「君しか勝たん」発売予定。
          </p>
        </div>
      </div>
    </div>
    <div class ="group_right">
      <a class="twitter-timeline" href="https://twitter.com/hinatazaka46?ref_src=twsrc%5Etfw">Tweets by hinatazaka46</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>

  <%#= render "shared/footer" %>
</div>