<div class="">

  <div>
    <%= link_to 'ホームにもどる', root_path, class:"" %>
  </div>

  <div class="">
    <h2 class="">
        日向坂46 一期生
    </h2>
  </div>


  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/eb9/9c25286e85035c19d5ce162609411/400_320_102400.jpg" >
  </div>
  <div class="">
    潮 紗理菜
  </div>
  <div class="">
    うしお さりな
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/4e2/4c53bb94afb84f7d070a0e1d48eb0/400_320_102400.jpg" >
  </div>
  <div class="">
    影山 優佳
  </div>
  <div class="">
    かげやま ゆうか
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/2ce/45249d11fc5b16448be9c0cabb025/400_320_102400.jpg" >
  </div>
  <div class="">
    加藤 史帆
  </div>
  <div class="">
    かとう しほ
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/d66/9cfe7e97b476f5d8521a7672ff1c6/400_320_102400.jpg" >
  </div>
  <div class="">
    齊藤 京子
  </div>
  <div class="">
    さいとう きょうこ
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/88b/f719d05b2bda4873f771462e99367/400_320_102400.jpg" >
  </div>
  <div class="">
    佐々木 久美
  </div>
  <div class="">
    ささき くみ
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/fa9/885bf0c7f5255111679a92ba806c5/400_320_102400.jpg" >
  </div>
  <div class="">
    佐々木 美玲
  </div>
  <div class="">
    ささき みれい
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/dd6/269ef97837d512cef5f6915498fb8/400_320_102400.jpg" >
  </div>
  <div class="">
    高瀬 愛奈
  </div>
  <div class="">
    たかせ まな
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/50d/67df17ee0203e033d8a9211e7f91b/400_320_102400.jpg" >
  </div>
  <div class="">
    高本 彩花
  </div>
  <div class="">
    たかもと あやか
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/388/00c38faca7d7ca65309ca98b7faec/400_320_102400.jpg" >
  </div>
  <div class="">
    東村 芽依
  </div>
  <div class="">
    ひがしむら めい
  </div>

  <div class="">
    <h2 class="">
      日向坂46 二期生
    </h2>
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/63d/b1d8509a8569e3ae782aefd5cc09d/400_320_102400.jpg" >
  </div>
  <div class="">
    金村 美玖
  </div>
  <div class="">
    かねむら みく
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/5b1/731ff3e0e0b349201df9768638e6f/400_320_102400.jpg" >
  </div>
  <div class="">
    河田 陽菜
  </div>
  <div class="">
    かわた ひな
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/24d/45f7445aac16aad1befba2c2ee36f/400_320_102400.jpg" >
  </div>
  <div class="">
    小坂 菜緒
  </div>
  <div class="">
    こさか なお
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/8e5/9d47543a2950e22541c5d2c0d0612/400_320_102400.jpg" >
  </div>
  <div class="">
    富田 鈴花
  </div>
  <div class="">
    とみた すずか
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/b87/6ee64bac1891d599e4bac0f9edf7b/400_320_102400.jpg" >
  </div>
  <div class="">
    丹生 明里
  </div>
  <div class="">
    にぶ あかり
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/8a4/36bd4510f67e0c0cc7be806cb08d6/400_320_102400.jpg" >
  </div>
  <div class="">
    濱岸 ひより
  </div>
  <div class="">
    はまぎし ひより
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/b91/a480618bfca7d2f7ece92dcf84715/400_320_102400.jpg" >
  </div>
  <div class="">
    松田 好花
  </div>
  <div class="">
    まつだ このか
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/eb4/006fab30d98f1c3345e8f33790f71/400_320_102400.jpg" >
  </div>
  <div class="">
    宮田 愛萌
  </div>
  <div class="">
    みやた まなも
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/fd7/2048d89a0a1f028fb8cbff253cba8/400_320_102400.jpg" >
  </div>
  <div class="">
    渡邉 美穂
  </div>
  <div class="">
    わたなべ みほ
  </div>

  <div class="">
    <h2 class="">
      日向坂46 三期生
    </h2>
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/cf8/a6b6ee6cf204f3258a046340a262b/400_320_102400.jpg" >
  </div>
  <div class="">
    上村 ひなの
  </div>
  <div class="">
    かみむら ひなの
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/476/217d79b0390abc5e78d8cd6e10bed/400_320_102400.jpg" >
  </div>
  <div class="">
    髙橋 未来虹
  </div>
  <div class="">
    たかはし みくに
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/519/b143a37b3f0cdfb74776507cfc1bb/400_320_102400.jpg" >
  </div>
  <div class="">
    森本 茉莉
  </div>
  <div class="">
    もりもと まりぃ
  </div>

  <div class="">
    <img src="https://cdn.hinatazaka46.com/images/14/115/a1e9e622d269cd56e182f0328cc51/400_320_102400.jpg" >
  </div>
  <div class="">
    山口 陽世
  </div>
  <div class="">
    やまぐち はるよ
  </div>

  <div>
    <%= link_to 'ホームにもどる', root_path, class:"" %>
  </div>

</div>